<mat-toolbar  color="primary">
    <button mat-icon-button (click)="myDrawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="flex: auto"></span>
    <button mat-button routerLink="/admin/home">Home</button>
    <button mat-button routerLink="/admin/profile">Profile</button>
    <button mat-button [matMenuTriggerFor]="importMenu">Import
    <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #importMenu>
      <button mat-menu-item routerLink="/admin/loadStudents">Load students</button>
      <button mat-menu-item routerLink="/admin/loadPayments">Load payments</button>
    </mat-menu>
  <button mat-button ></button>
    <button mat-raised-button color="accent" >Logout</button>
  
  
  </mat-toolbar>
  
  <mat-drawer-container>
    <mat-drawer #myDrawer opened="true" mode="side" position="start">
      <mat-list>
        <button mat-button routerLink="/admin/dashboard">
          <mat-icon>dashboard</mat-icon>Dashboard
        </button>
      </mat-list>
      <mat-list>
        <button mat-button routerLink="/admin/about">
          <mat-icon>perm_identity</mat-icon>About
        </button>
      </mat-list>
      <button mat-button routerLink="/admin/contact">
        <mat-icon>contacts</mat-icon>
        contact
      </button>
      <mat-list>
        <button mat-button routerLink="/admin/projects">
          <mat-icon>dashboard</mat-icon>
          Projects
        </button>
      </mat-list>
      <mat-list>
        <button mat-button routerLink="/admin/workExperience">
          <mat-icon>work</mat-icon>
          Work Experience
        </button>
      </mat-list>
      <mat-list>
        <button mat-button routerLink="/admin/technicalSkills">
          <mat-icon>list_alt</mat-icon>
          Technical Skills
        </button>
      </mat-list>
      <mat-list>
        <button mat-button routerLink="/admin/education">
          <mat-icon>school</mat-icon>
          Education
        </button>
      </mat-list>
    </mat-drawer>
    <mat-drawer-content >
      <div style="min-height: 600px">
      <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  
  </mat-drawer-container>
  